body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    background-color: #404040;
}

.markdown-content p {
    argin: 0px 0px 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-align: justify;
}

.img-styles {
    height: 55px;
    width: 55px;
    padding: 10px;
    box-sizing: content-box;
    background-color: #847f7f;
    border-radius: 50px;
}

@media all and (max-width: 300px) {
    .img-styles {
        width: 11vw;
        max-height: 11vw;
        height: auto;
        padding: 0;
        padding-right: 5px;
    }
}

.dialog-styles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0 0 0 / 60%);
    animation: fade-in 0.18s;
    backdrop-filter: blur(5px);
    cursor: pointer;
    overflow: auto;
    box-sizing: border-box;
    padding: 30px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.dialog-container {
    display: grid;
    grid-gap: 5px;
    padding: 10px;
    background: rgb(35 35 39);
    border-radius: 15px;
    overflow: auto;
    grid-template-columns: 1fr;
    cursor: initial;
    animation: move-in 0.18s;
    max-width: 420px;
    width: 100%;
    box-sizing: border-box;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes move-in {
    from {
        transform: translateY(5%);
    }
    to {
        transform: translateY(0%);
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.button-styles {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: transparent;
    max-width: 100%;
    width: 100%;
    height: 75px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 11px;
    outline: 0;
    cursor: pointer;
    transition: transform 0.15s;
    display: flex;
    align-items: center;
}

.dark .button-styles {
    border: none;
}

.button-label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 300;
    color: white;
    text-align: left;
}

.dark .button-label {
    color: white;
}

@media all and (max-width: 300px) {
    .button-label {
        font-size: 6vw;
    }
}

.button-styles:hover {
    font-weight: 800!important;
    background: rgb(84, 83, 83);
    transition: all 0.2s;
}

.dark .button-styles:hover {
    background: #545454;
}

.button-styles > div {
    display: flex;
    padding: 0 15px;
    border-radius: 10px;
    font-weight: 400;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.connect-button {
    background-color: #1c1e21;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
    transition: background-color 0.2s ease-in-out;
    margin-left: 20px;
}

.connect-button:hover {
    background-color: #2c2f33;
}